body {
  background: white;
  padding: 0;
  margin: 0;
}

.container {
  padding: 4.5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Две колонки */
  gap: 4.5%; /* Пространство между квадратами */
  width: 100%; /* Полная ширина контейнера */
  max-width: 100vw; /* Предотвращение переполнения на маленьких экранах */
  box-sizing: border-box; /* Учитывать padding и border в ширине/высоте */
}

.square {
  aspect-ratio: 1 / 1; /* Сохранять соотношение сторон 1:1 */
  background-color: #F2F2F2; /* Цвет квадрата */
  border-radius: 1rem; /* Скруглённые углы */
}

.search-bar {
  padding: 0 4.5%;
  display: flex;
  justify-content: center;
  height: 4.5%;
}

.search-bar input {
  background-color: #F2F2F2; /* Цвет фона поля ввода */
  box-shadow: none;
  width: 100%; /* Адаптивная ширина */
  padding: 5%;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 1rem;
  box-sizing: border-box;
}

.search-bar input::placeholder {
  font-family: 'Inter', sans-serif; /* Шрифт Inter */
  color: #9B9B9B; /* Цвет текста плейсхолдера */
}
