body {
  background: white;
  padding: 0;
  margin: 0;
}

.container {
  padding: 3%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Две колонки */
  gap: 3%; /* Пространство между квадратами */
  width: 100%; /* Полная ширина контейнера */
  max-width: 100vw; /* Предотвращение переполнения на маленьких экранах */
  box-sizing: border-box; /* Учитывать padding и border в ширине/высоте */
}

.square {
  position: relative;
  aspect-ratio: 1 / 1; /* Сохранять соотношение сторон 1:1 */
  background-color: #F2F2F2; /* Цвет квадрата */
  border-radius: 1rem; /* Скруглённые углы */
}

.square.gradient {
  background: linear-gradient(to bottom, #FF8000, #FF4D00);
}

.search-bar {
  padding: 0 3%;
  display: flex;
  justify-content: center;
  height: 3%;
}

.search-bar input {
  background-color: #F2F2F2; /* Цвет фона поля ввода */
  box-shadow: none;
  width: 100%; /* Адаптивная ширина */
  padding: 4.5%;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 1rem;
  box-sizing: border-box;
}

.search-bar input::placeholder {
  font-family: 'Inter', sans-serif; /* Шрифт Inter */
  color: #9B9B9B; /* Цвет текста плейсхолдера */
}

.new-heading {
    font-family: 'Inter', sans-serif; /* Шрифт Inter */
    font-size: 22px; /* Размер шрифта */
    font-weight: 700; /* Жирный шрифт */
    color: #000000; /* Цвет текста */
  /* Убираем отступы */
  margin: 3% 3% 1%;
}

.meal-container {
  padding: 1% 3%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Три колонки */
  gap: 3%; /* Пространство между квадратами */
  width: 100%; /* Полная ширина контейнера */
  max-width: 100vw; /* Предотвращение переполнения на маленьких экранах */
  box-sizing: border-box; /* Учитывать padding и border в ширине/высоте */
}

.meal-square {
  aspect-ratio: 1 / 1; /* Сохранять соотношение сторон 1:1 */
  background-color: #F2F2F2; /* Цвет квадрата */
  border-radius: 1rem; /* Скруглённые углы */
}

.square.ready {
  background-image: url("/assets/готоваяеда.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.square.water {
  background-image: url("/assets/вода.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.square.snacks {
  background-image: url("/assets/снеки.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.square.gradient {
  background-image: url("/assets/discount.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.square-text {
  position: absolute; /* Position relative to .square */
  bottom: 6%; /* Adjust distance from the bottom */
  left: 6%; /* Adjust distance from the left */
  color: #363636;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.text-white {
    color: white;
}

.meal-card {
  color: #363636;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.meal-square-1 {
  background-image: url("https://i.ibb.co/sJNPrLvL/5ee7227ad2a94-800x800-fit-png.webp");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.meal-square-2 {
  background-image: url("https://i.ibb.co/n8m3L3GT/300x300.webp");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.meal-square-3 {
  background-image: url("https://i.ibb.co/HTZDVvDq/delicious-omelette-with-herbs-red-peppers-plate.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.meal-weight-1 {
  color: #B7B7B7;
}

.meal-weight-2 {
  color: #B7B7B7;
}

.meal-weight-3 {
  color: #B7B7B7;
}

.meal-price-1 {
  background-color: #F2F2F2;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #FF8000;
  margin-top: 4px;
  font-size: 16px;
  gap: 8px;
}

.meal-price-plus-1 {
font-size: 20px;
  font-weight: 500;
  line-height: 19px;
}